
body {
  font-family: 'IBM Plex Sans', sans-serif;
  color:$color-text-overall;
}

.heading-primary {
  width: 100%;
  font-size: 5rem;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;

  &--main {
    color: $text-white;
    margin-right: 2rem;
  }

  &--sub {
    color: $primary-title-color;
  }
}

.heading-secondary {
  margin-top: 0.75rem;
  font-size: 3rem;
  line-height: 2.7rem;
  color: $text-white;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 2rem;
  color: $text-white;
  padding:0 2rem;
}